<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- BOOTSTRAP THEME -->
    <link rel="stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.min.css">

</head>
<body>
    <!-- Page Content -->
<div class="container">

  <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0" style = "color:purple;">Championship Highlights</h1>
    <a href="/gallery" style="font-size: 40px; color:gold;">Championship Gallery</a>
  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-left">

    <div class="col-lg-3 col-md-4 col-6">
      <a href="https://www.youtube.com/watch?v=0jQ8aHr-ACI" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="static/kbc1.webp" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="https://www.youtube.com/watch?v=GuOQs7Qczig" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="static/kbc2.webp" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="https://www.youtube.com/watch?v=c_y-kbzypzE" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="static/kbc3.webp" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="https://www.youtube.com/watch?v=aQhhYPc0MCY" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="static/kbc4.webp" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="https://www.youtube.com/watch?v=CD6uXj9f724" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="static/kbc5.webp" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="https://www.youtube.com/watch?v=7T2AkXl5n6s" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="static/kbc6.webp" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="https://www.youtube.com/watch?v=scofYlmwJDM" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="static/kbc7.webp" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="https://www.youtube.com/watch?v=dLbDthy5SuU" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="static/kbc8.webp" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="https://www.youtube.com/watch?v=F0bh6wSg_ks" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="static/kbc9.webp" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="https://www.youtube.com/watch?v=oJgEbux0jnE" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="static/kbc10.webp" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="https://www.youtube.com/watch?v=jhyANGHDDH8" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="static/kbc11.webp" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="https://www.youtube.com/watch?v=OTTWedyp37o" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="static/kbc12.webp" alt="">
          </a>
    </div>
  </div>
        <a href="/" class="display-2" style="color:purple;">KB824</a>
</div>

<!-- /.container -->
</body>
</html>
